* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.root {
  font-family: sans-serif;
  text-align: center;
  width: 98vw;
  height: 99vh;
  /* border: 2px solid blue; */
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Fira Code";
}
h1 {
  font-size: 4vmax;
}
h2 {
  font-size: 2vmax;
}
h3 {
  font-size: 1vmax;
}
h4 {
  font-size: vmax;
}
h5 {
  font-size: 1vmax;
}
h6 {
  font-size: 1vmax;
}
body {
  font-size: 1vmax;
}
.rightPhanel {
  background: #5c3095;
  width: 50%;
  color: white;
  align-items: center;
  padding: calc(100% - 98%);
  background-image: url("https://media.discordapp.net/attachments/834130556865347645/870413118981943356/submerged_4k_desktop.png");
  background-size: cover;
}
.leftPanel {
  background: #fff6ec;
  width: 50%;
  padding: calc(100% - 98%);
}

* {
  margin: 0;
  box-sizing: border-box;
}
.leftpanel-home-container {
  height: 100%;
  display: flex;
  flex-direction: "column";
  justify-content: space-around;
}
.terminal {
  max-width: 100% !important;
  min-width: 100% !important;
  max-height: calc(100% - 60%) !important;
  min-height: calc(100% - 60%) !important;
  height: calc(100% - 60%) !important;
  width: 100% !important;
  border: 2px solid white;
  overflow: hidden;
}
